{
  "extends": ["plugin:prettier/recommended"],

  "plugins": ["prettier"],

  "rules": {
    "prettier/prettier": "error"
  },

  "parser": "babel-eslint",

  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2015
  }
}
